@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mouse Memoirs', sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: url("bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title{
    font-size: 5rem;
    color: #eee;
    font-weight: 600;
    text-shadow: 0px 4px 20px rgb(0, 0, 0);
}

.main-desc{
    font-size: 3rem;
    color: #ccc;
    text-shadow: 0px 4px 20px rgb(0, 0, 0);
    margin-bottom: 1.5rem;
}

.game-canvas{
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.4);
}
